.vscode
.tmp
.testCoverage.txt
.idea
statics
.history
client/node_modules
.DS_Store
lint.xml
cp.out
vendor/
*/mocks*
coverage.html
a_startup-packr.go
fmtcoverage.html
coverage.md
coverage.out
kube-beacon.deb
*.iml
cf
cf2
tf
tfr
*mocks*
kube-beacon