language: go
go:
  - 1.14
env:
  - "PATH=/home/travis/gopath/bin:$PATH"
before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
script:
  - go test -v -covermode=count -coverprofile=coverage.out $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
  - make test_travis
  - make build_travis

