---
benchmark_type: k8s
categories:
-
  name: Control Plane Components
  sub_category:
    name: 1.1 Master Node Configuration Files
    audit_tests:
    -
      name: '1.1.1 Ensure that the API server pod specification file permissions are
        set to 644 or more restrictive '
      description: Ensure that the API server pod specification file has permissions
        of 644 or more restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a /etc/kubernetes/manifests/kube-apiserver.yaml
      remediation: chmod 644 /etc/kubernetes/manifests/kube-apiserver.yaml
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644"
      default_value: By default, the kube-apiserver.yaml file has permissions of 640.
      references:
      - https://kubernetes.io/docs/admin/kube-apiserver/
    -
      name: '1.1.2 Ensure that the API server pod specification file ownership is
        set to root:root '
      description: Ensure that the API server pod specification file ownership is
        set to root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G /etc/kubernetes/manifests/kube-apiserver.yaml
      remediation: chown root:root /etc/kubernetes/manifests/kube-apiserver.yaml
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: By default, the kube-apiserver.yaml file ownership is set to
        root:root.
      references:
      - https://kubernetes.io/docs/admin/kube-apiserver/
    -
      name: '1.1.3 Ensure that the controller manager pod specification file permissions
        are set to 644 or more restrictive '
      description: Ensure that the controller manager pod specification file has permissions
        of 644 or more restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a /etc/kubernetes/manifests/kube-controller-manager.yaml
      remediation: chmod 644 /etc/kubernetes/manifests/kube-controller-manager.yaml
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: By default, the kube-controller-manager.yaml file has permissions
        of 640.
      references:
      - https://kubernetes.io/docs/admin/kube-controller-manager
    -
      name: '1.1.4 Ensure that the controller manager pod specification file ownership
        is set to root:root '
      description: Ensure that the controller manager pod specification file ownership
        is set to root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G /etc/kubernetes/manifests/kube-controller-manager.yaml
      remediation: chown root:root /etc/kubernetes/manifests/kube-controller-manager.yaml
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: By default, kube-controller-manager.yaml file ownership is set
        to root:root.
      references:
      - https://kubernetes.io/docs/admin/kube-controller-manager
    -
      name: '1.1.5 Ensure that the scheduler pod specification file permissions are
        set to 644 or more restrictive '
      description: Ensure that the scheduler pod specification file has permissions
        of 644 or more restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a /etc/kubernetes/manifests/kube-scheduler.yaml
      remediation: chmod 644 /etc/kubernetes/manifests/kube-scheduler.yaml
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: By default, kube-scheduler.yaml file has permissions of 640.
      references:
      - https://kubernetes.io/docs/admin/kube-scheduler/
    -
      name: '1.1.6 Ensure that the scheduler pod specification file ownership is set
        to root:root '
      description: Ensure that the scheduler pod specification file ownership is set
        to root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G /etc/kubernetes/manifests/kube-scheduler.yaml
      remediation: chown root:root /etc/kubernetes/manifests/kube-scheduler.yaml
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: By default, kube-scheduler.yaml file ownership is set to root:root.
      references:
      - https://kubernetes.io/docs/admin/kube-scheduler/
    -
      name: '1.1.7 Ensure that the etcd pod specification file permissions are set
        to 644 or more restrictive '
      description: Ensure that the /etc/kubernetes/manifests/etcd.yaml file has permissions
        of 644 or more restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a /etc/kubernetes/manifests/etcd.yaml
      remediation: chmod 644 /etc/kubernetes/manifests/etcd.yaml
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: By default, /etc/kubernetes/manifests/etcd.yaml file has permissions
        of 640.
      references:
      - https://coreos.com/etcd
      - https://kubernetes.io/docs/admin/etcd/
    -
      name: '1.1.8 Ensure that the etcd pod specification file ownership is set to
        root:root '
      description: Ensure that the /etc/kubernetes/manifests/etcd.yaml file ownership
        is set to root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G /etc/kubernetes/manifests/etcd.yaml
      remediation: chown root:root /etc/kubernetes/manifests/etcd.yaml
      check_type: multi_param
      eval_expr: "'$0' == 'root:root';"
      impact: None
      default_value: By default, /etc/kubernetes/manifests/etcd.yaml file ownership
        is set to root:root.
      references:
      - https://coreos.com/etcd
      - https://kubernetes.io/docs/admin/etcd/
    -
      name: '1.1.9 Ensure that the Container Network Interface file permissions are
        set to 644 or more restrictive '
      description: Ensure that the Container Network Interface files have permissions
        of 644 or more restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a /*/cni/*
      remediation: chmod 644 <path/to/cni/files>
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: N/A
      references:
      - https://kubernetes.io/docs/concepts/cluster-administration/networking/
    -
      name: '1.1.10 Ensure that the Container Network Interface file ownership is
        set to root:root '
      description: Ensure that the Container Network Interface files have ownership
        set to root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G /*/cni/*
      remediation: chown root:root <path/to/cni/files>
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: None
      references:
      - https://kubernetes.io/docs/concepts/cluster-administration/networking/
    -
      name: '1.1.11 Ensure that the etcd data directory permissions are set to 700
        or more restrictive '
      description: Ensure that the etcd data directory has permissions of 700 or more
        restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a $(ps -ef | grep etcd |grep ' --data-dir' | grep -o ' --data-dir=[^"]\S*' | awk -F "=" '{print $2}' |awk 'FNR <= 1')
      remediation: chmod 700 $(ps -ef | grep etcd |grep 'data-dir' | grep -o 'data-dir=[^"]\S*'
        | awk -F "=" '{print $2}')
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 700;"
      default_value: By default, etcd data directory has permissions of 755.
      references:
      - https://coreos.com/etcd/docs/latest/op-guide/configuration.html#data-dir
      - https://kubernetes.io/docs/admin/etcd/
    -
      name: '1.1.12 Ensure that the etcd data directory ownership is set to etcd:etcd '
      description: Ensure that the etcd data directory ownership is set to etcd:etcd.
      profile_applicability: Level 1 - Master Node
      audit:
      - stat -c %U:%G $(ps -ef | grep etcd |grep ' --data-dir' | grep -o ' --data-dir=[^"]\S*' | awk -F "=" '{print $2}' |awk 'FNR <= 1')
      remediation: chown etcd:etcd $(ps -ef | grep etcd |grep 'data-dir' | grep -o
        'data-dir=[^"]\S*' | awk -F "=" '{print $2}')
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'etcd:etcd';"
      default_value: By default, etcd data directory ownership is set to etcd:etcd.
      references:
      - https://coreos.com/etcd/docs/latest/op-guide/configuration.html#data-dir
      - https://kubernetes.io/docs/admin/etcd/
    -
      name: '1.1.13 Ensure that the admin.conf file permissions are set to 644 or
        more restrictive '
      description: Ensure that the admin.conf file has permissions of 644 or more
        restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a /etc/kubernetes/admin.conf
      remediation: chmod 644 /etc/kubernetes/admin.conf
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: By default, admin.conf has permissions of 640.
      references:
      - https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
    -
      name: '1.1.14 Ensure that the admin.conf file ownership is set to root:root '
      description: Ensure that the admin.conf file ownership is set to root:root.
      profile_applicability: Level 1 - Master Node
      audit:
      - stat -c %U:%G /etc/kubernetes/admin.conf
      remediation: chown root:root /etc/kubernetes/admin.conf
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: By default, admin.conf file ownership is set to root:root.
      references:
      - https://kubernetes.io/docs/admin/kubeadm/
    -
      name: '1.1.15 Ensure that the scheduler.conf file permissions are set to 644
        or more restrictive '
      description: 'Ensure that the scheduler.conf file permissions are set to 644
        or more restrictive '
      profile_applicability: Master
      audit:
      - stat -c %a /etc/kubernetes/scheduler.conf
      remediation: chmod 644 /etc/kubernetes/scheduler.conf
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: By default, scheduler.conf has permissions of 640.
      references:
      - https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
    -
      name: '1.1.16 Ensure that the scheduler.conf file ownership is set to root:root '
      description: Ensure that the scheduler.conf file ownership is set to root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G /etc/kubernetes/scheduler.conf
      remediation: chown root:root /etc/kubernetes/scheduler.conf
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: By default, scheduler.conf file ownership is set to root:root.
      references:
      - https://kubernetes.io/docs/admin/kubeadm/
    -
      name: '1.1.17 Ensure that the controller-manager.conf file permissions are set
        to 644 or more restrictive '
      description: Ensure that the controller-manager.conf file has permissions of
        644 or more restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a /etc/kubernetes/controller-manager.conf
      remediation: chmod 644 /etc/kubernetes/controller-manager.conf
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: By default, controller-manager.conf has permissions of 640.
      references:
      - https://kubernetes.io/docs/admin/kube-controller-manager/
    -
      name: '1.1.18 Ensure that the controller-manager.conf file ownership is set
        to root:root '
      description: Ensure that the controller-manager.conf file ownership is set to
        root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G /etc/kubernetes/controller-manager.conf
      remediation: chown root:root /etc/kubernetes/controller-manager.conf
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: By default, controller-manager.conf file ownership is set to
        root:root.
      references:
      - https://kubernetes.io/docs/admin/kube-controller-manager/
    -
      name: '1.1.19 Ensure that the Kubernetes PKI directory and file ownership is
        set to root:root '
      description: Ensure that the Kubernetes PKI directory and file ownership is
        set to root:root.
      profile_applicability: Master
      audit:
      - stat -c %U:%G $(ls -R /etc/kubernetes/pki/ | awk '/:$/&&f{s=$0;f=0}/:$/&&!f{sub(/:$/,"");s=$0;f=1;next}NF&&f{
        print s"/"$0 }')
      remediation: chown -R root:root /etc/kubernetes/pki/
      check_type: multi_param
      impact: None
      eval_expr: "'$0' == 'root:root';"
      default_value: By default, the /etc/kubernetes/pki/ directory and all of the
        files and directories contained within it, are set to be owned by the root
        user.
      references:
      - https://kubernetes.io/docs/admin/kube-apiserver/
    -
      name: '1.1.20 Ensure that the Kubernetes PKI certificate file permissions are
        set to 644 or more restrictive '
      description: Ensure that Kubernetes PKI certificate files have permissions of
        644 or more restrictive.
      profile_applicability: Master
      audit:
      - stat -c %a $(ls -aR /etc/kubernetes/pki/ | awk '/:$/&&f{s=$0;f=0}/:$/&&!f{sub(/:$/,"");s=$0;f=1;next}NF&&f{
        print s"/"$0 }' | grep \.crt$)
      remediation: chmod -R 644 /etc/kubernetes/pki/*.crt
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 644;"
      default_value: By default, the certificates used by Kubernetes are set to have
        permissions of 644
      references:
      - https://kubernetes.io/docs/admin/kube-apiserver/
    -
      name: '1.1.21 Ensure that the Kubernetes PKI key file permissions are set to
        600 '
      description: Ensure that Kubernetes PKI key files have permissions of 600.
      profile_applicability: Master
      audit:
      - stat -c %a $(ls -aR /etc/kubernetes/pki/ | awk '/:$/&&f{s=$0;f=0}/:$/&&!f{sub(/:$/,"");s=$0;f=1;next}NF&&f{
        print s"/"$0 }' | grep \.key$)
      remediation: chmod -R 600 /etc/kubernetes/pki/*.key
      check_type: multi_param
      impact: None
      eval_expr: "$0 <= 600;"
      default_value: By default, the keys used by Kubernetes are set to have permissions
        of 600
      references:
      - https://kubernetes.io/docs/admin/kube-apiserver/
