---
benchmark_type: k8s
categories:
  - name: Control Plane Components
    sub_category:
      name: 1.4 Scheduler
      audit_tests:
        - name: 1.4.1 Ensure that the --profiling argument is set to false
          description: Disable profiling, if not needed.
          profile_applicability: Master
          audit:
            - ps -ef | grep kube-scheduler |grep ' --profiling' | grep -o ' --profiling=[^"]\S*'
              | awk -F "=" '{print $2}' |awk 'FNR <= 1'
            - sudo awk -v FS="--profiling=" 'NF>1{print $2}' /etc/kubernetes/manifests/kube-scheduler.yaml
          remediation: |-
            Edit the Scheduler pod specification file /etc/kubernetes/manifests/kube- scheduler.yaml file on the master node and set the below parameter.
            --profiling=false
          check_type: multi_param
          impact: Profiling information would not be available.
          eval_expr: "'$0' == 'false'; && '$0' == '$1';"
          default_value: By default, profiling is enabled.
          references:
            - https://kubernetes.io/docs/admin/kube-scheduler/
            - https://github.com/kubernetes/community/blob/master/contributors/devel/profiling.md
        - name: 1.4.2 Ensure that the --bind-address argument is set to 127.0.0.1
          description: Do not bind the scheduler service to non-loopback insecure addresses.
          profile_applicability: Master
          audit:
            - ps -ef | grep kube-scheduler |grep ' --bind-address' | grep -o ' --bind-address=[^"]\S*'
              | awk -F "=" '{print $2}' |awk 'FNR <= 1'
            - sudo awk -v FS=" --bind-address=" 'NF>1{print $2}' /etc/kubernetes/manifests/kube-scheduler.yaml
          remediation: Edit the Scheduler pod specification file /etc/kubernetes/manifests/kube-
            scheduler.yaml on the master node and ensure the correct value for the --bind-address
            parameter
          check_type: multi_param
          impact: None
          eval_expr: "'$0' == '127.0.0.1'; && '$0' == '$1';"
          default_value: By default, the --bind-address parameter is set to 0.0.0.0
          references:
            - https://kubernetes.io/docs/reference/command-line-tools-reference/kube- scheduler/
